.descr {
    color: rgb(6, 9, 14);
    text-align: center;
    padding-bottom: 10px;
    font-weight: normal; /* Убираем жирное начертание */
}

body {
    margin: 0px;
    padding: 0px;
}

button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: rgb(14, 5, 5);
    font-weight: 700;
    padding: .5em 2em;
    border: 1px solid;
    border-radius: 1px;
    transition: 0.2s;
}
button:hover {
    color: rgb(24, 24, 24);
    border: 1px solid rgb(198, 198, 198);
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
button:active {
    color: rgb(51, 51, 51);
    border: 1px solid rgb(204, 204, 204);
    background: rgb(238, 238, 238) linear-gradient(rgb(238, 238, 238), rgb(224, 224, 224));
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

.bottom {
    border-top: 1px solid #000;
    display: block;
}

h1 {
    text-align: center;
}

#container {
    width: calc(100% - 350px);
    padding-top: 40%;
    float: left; /* Обтекание по правому краю */
    margin-left: 50px;
    margin-right: 50px;
}

.layer1 {
    background-color: rgb(175, 174, 170); /* Цвет фона слоя */
    padding: 5px; /* Поля вокруг текста */
    float: left; /* Обтекание по правому краю */
    width: 200px; /* Ширина слоя */
}

.center {
    display: inline-block;
    width: calc(100%);
    width: calc(100%);
}

.input_data {
    display: inline-block;
}

.hide {
    display: none;
}

button {
    display: block;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-bottom: 10px;
}

#del {
    border: 1px olid #cccccc;
    border-radius: 3px;
    outline: none;
    height: 25px;
    width: 75px;
    color: #cccccc;
    font-size: 15px;
    font-family: Tahoma;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #000000;
    padding: 3px;
}

.opt {
    vertical-align: top;
    padding: 10px;
    font-size: 20px;
}

input[type="text"] {
    border: 1px solid #cccccc;
    border-radius: 3px;
    outline: none;
    height: 15px;
    width: 70px;
    color: #cccccc;
    font-size: 11px;
    font-family: Tahoma;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #000000;
    padding: 3px;
    font-size: 15px;
}

select:hover,
button:hover,
input:hover {
    border: 2px solid #11c6e6;
}
